.contenidoWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -151;
}

.newTitle {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.newImagen {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
.newData {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newData > label:nth-child(2) {
    margin-left: 30px;
}
.newData > label:nth-last-child(1){
    display: flex;
    align-items: center;
}
.newData > label:nth-last-child(1) > .Link{
    margin-left: 10px;
}

.newContenido {
    width: 95%;
    height: auto;
}

.loaderCenter {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.likeDisliked {
    top: 51px;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}

.likeDisliked > div {
    cursor: pointer;
    margin-left: 15px;
}

.likeDisliked > .IconConten {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}
.dislikedNoActive {
    background-image: url(../../../images/iconos/svg/disgusto.svg);
}
.dislikedActive {
    background-image: url(../../../images/iconos/svg/disgusto-d.svg);
}
.likeNoActive{
    background-image: url(../../../images/iconos/svg/corazon.svg);
}


.like {
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    background: red;
}

.like:before,
.like:after {
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: red;
}

.like:before,
.like:after {
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: red;
    position: absolute;
}

.like:before {
    top: 0;
    left: -10px;
}

.like:after {
    top: -10px;
}

.dontLike {
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    background: black;
}

.dontLike:before,
.dontLike:after {
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: black;
}

.dontLike:before,
.dontLike:after {
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: black;
    position: absolute;
}

.dontLike:before {
    top: 0;
    left: -10px;
}

.dontLike:after {
    top: -10px;
}


.CommetWriter{
    width: 100%;
}
.wirterContent{
    width: 90%;
}
.CommetWriter{
    width: 100%;
}

.iconContent{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
}
.edit{
    background-image: url(../../../images/iconos/svg/edit.svg);
}

.deleat{
    background-image: url(../../../images/iconos/svg/basura.svg);
}

.cancel{
    background-image: url(../../../images/iconos/svg/multiply-1.svg);
}

.updater{
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
}