.home {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content {
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.content > .noticia {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content > .form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonIns {
  margin-top: 15px;
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;

}


.formualrio{
    width: 100%;
}

.infoContent{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContent:nth-child(3){
  align-items: initial;
}

.container-fluid{
     padding-right: 0px !important; 
     padding-left: 0px !important;
}

.headerContent{
  width: 100%;
  display: flex;
  justify-content: center;
  background: #cccccc;
  border-radius: 6px;
}
.buttonAction:active{
  transform: scale(1.1);
}
.icon{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.icon>div{
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.config{
  background-image: url('../../images/iconos/svg/settings-3.svg');
}

.salir{
  background-image: url('../../images/iconos/svg/exit-2.svg');
}
