.pestasContent {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    border-radius: 8px;
    flex-wrap: wrap;
}
.pestasContent > .tab {
    color: black;
    background-color: #a5d4f3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 15px;
    height: auto;
    width: auto;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
}
.pestasContent > .tab > label {
    width: auto;
    cursor: pointer;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pestasContent > .tab:nth-last-child(1) {
    margin-right: 0;
}
ul > .Comenta {
    margin-top: 15px;
}

ul > .Comenta:hover {
    transform: scale(1.1);
}

ul > .Comenta > .Link {
    text-decoration: none;
    color: black;
}

.NoContenido {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-top: 80px;
}
.NewsForUserInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    width: auto;
}
.NewsUserInfoRow{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.NewsForUserInfo > .Link {
    color: black;
    text-decoration: none;
}
.NewsForUserInfo > .Link:hover {
    color: black;
}
