.contentNews {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image {
  width: 100%;
  height: 350px;
  justify-content: center;
  align-items: center;
  display: flex;

}

.negrita {
  font-weight: bold;
}
.datos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.datos > label {
  margin-left: 15px;
}

.contenido {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.contenido > .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido > .texto {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid #cccccc;
  margin-right: 5px;
  -webkit-box-shadow: 37px 20px 44px -41px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 37px 20px 44px -41px rgba(0, 0, 0, 0.75);
  box-shadow: 37px 20px 44px -41px rgba(0, 0, 0, 0.75);
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.textp::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.textp::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.textp::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
